{% extends "layout:base.html.twig" %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block main %}

  <article class="article">
    <div class="article__cover-column">
      {% if article.hasCover %}
        {% include "AppBundle:Article:_cover.html.twig" with {
          article: articleModel,
          class: "article__cover-image",
          rel: "lightbox"
        } %}
      {% endif %}
    </div>

    <div class="article__infos-column">

      {% if article.has('cycle') %}
        <p class="article__cycle">
          <a href="{{ path('cycle_show', { slug: article.cycle.url }) }}">
            {{ article.cycle.name }}
          </a>
          {% if article.has('tome') %}
            ·
            tome {{ article.tome }}
          {% endif %}
        </p>
      {% endif %}

      <h1 class="article__title">{{ article.title }}</h1>

      <div class="article__authors-and-contributors">
        <p class="article__authors">
          <span class="article__by">de</span>
          {% for author in article.getAuthors() %}
          <a href="{{ path('people_show', { slug: author.url }) }}">
            {{ author.name }}</a>{% if not loop.last %},
          {% endif %}
          {% endfor %}
        </p>

        <p class="article__contributors">
          {% if article.hasOtherContributors() %}
            et
            {% for people in article.getOtherContributors %}
              <a href="{{ path('people_show', { slug: people.url }) }}">{{ people.name }}</a>
              ({{ people.role }})
              {% if not loop.last %},
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>
      </div>

      {% if article.has('catchline') %}
        <div class="article__catchline">
          {{ article.catchline|raw }}
        </div>
      {% endif %}

      {% set item = article.getCheapestAvailableItem('new') %}

      <div class="article__info-box">
        <div class="article__info-box__infos">
          Livre papier
          {% if article.has('format') %}
            | <span aria-label="Format">{{ article.format }}</span>
          {% endif %}

          {% if article.has('pages') %}
            | {{ article.pages }} pages
          {% endif %}

          {% if item %}
            | En stock
          {% else %}
            | Indisponible
          {% endif %}
        </div>

        <div class="article__info-box__publication-date">
          {% if article.has('pubdate') %}
            Parution le
            {{ article.pubdate|date }}
          {% endif %}
        </div>

        {% if item %}
          <div class="article__info-box__price">
            {{ item.selling_price|currency(true)|raw }}
          </div>

          <div class="article__info-box__cart-button">
            {% include "AppBundle:Article:_cartButton.html.twig" with { text: "Ajouter au panier" } %}
          </div>
        {% endif %}
      </div>

      <h2>
        {% if article.isPublished %}
          En vente chez vos libraires
        {% else %}
          En prévente chez vos libraires
        {% endif %}
      </h2>

      <p>
        <a href="http://recherche.fnac.com/r/{{ article.ean }}">FNAC</a> ·
        <a href="https://www.decitre.fr/livres/{{ article.ean }}.html">Decitre</a> ·
        <a href="https://www.furet.com/livres/{{ article.ean }}.html">Le Furet du nord</a> ·
        <a href="https://www.lalibrairie.com/">La Librairie</a> ·
        <a href="https://www.eyrolles.com/Livre/{{ article.ean }}/">Eyrolles</a> ·
        <a href="https://www.leslibraires.fr/recherche/?q={{ article.ean }}">Les libraires</a> ·
        <a href="https://www.placedeslibraires.fr/dlivre.php?rid=&gencod={{ article.ean }}">Place des libraires</a>
      </p>

    </div>

    {% if article.has('summary') %}
      <div class="article__block">
        <div class="article__block__content">
          <h2 class="article__block__title">Résumé</h2>
          {{ article.summary|raw }}
        </div>
      </div>
    {% endif %}

    {% if article.has('contents') %}
      <div class="article__block">
        <div class="article__block__content">
          <h2 class="article__block__title">Sommaire</h2>
          {{ article.contents|raw }}
        </div>
      </div>
    {% endif %}

    {% if article.has('biography') %}
      <div class="article__block">
        <div class="article__block__content">
          <h2 class="article__block__title">L'auteur</h2>
          {{ article.biography|raw }}
        </div>
      </div>
    {% endif %}

    <div class="article__block">
      <div class="article__block__content">
        <h2 class="article__block__title">Infos Techniques</h2>
        <dl class="article__features">
          {% if article.tags %}
            <dt>Mots-clés</dt>
            <dl>
              {% for tag in article.tags %}
                <a href="{{ path('tag_show', { slug: tag.url }) }}">{{ tag.name }}</a>
                {% if not loop.last %}·{% endif %}
              {% endfor %}
            </dl>
          {% endif %}
          {% if article.has('collection') %}
            <dt>Collection</dt>
            <dl>
              <a href="{{ path('collection_show', { slug: article.collection.url }) }}">
                {{ article.collection.name }}
              </a>
              {% if article.has('number') %} n° {{ article.number }} {% endif %}
            </dl>
          {% endif %}

          {% if article.has('cycle') %}
            <dt>Cycle</dt>
            <dl>
              <a href="{{ path('cycle_show', { slug: article.cycle.url }) }}">
                {{ article.cycle.name }}
              </a>
              {% if article.has('tome') %} · Tome {{ article.tome }} {% endif %}
            </dl>
          {% endif %}

          {% if article.has('pubdate') %}
            <dt>Date de parution</dt>
            <dl>{{ article.pubdate|date }}</dl>
          {% endif %}

          {% if article.has('price') %}
            <dt>Prix éditeur</dt>
            <dl>{{ article.price|currency(true)|raw }}</dl>
          {% endif %}

          {% if article.has('ean') %}
            <dt>ISBN</dt>
            <dl>{{ article.ean|isbn }}</dl>

            <dt>EAN</dt>
            <dl>{{ article.ean }}</dl>
          {% endif %}

          {% if article.has('isbn') %}
            <dt>ISBN</dt>
            <dl>{{ article.isbn }}</dl>
          {% endif %}

          {% if article.has('shaping') %}
            <dt>Façonnage</dt>
            <dl>{{ article.shaping }}</dl>
          {% endif %}

          {% if article.has('printing_process') %}
            <dt>Procédé d'impression</dt>
            <dl>{{ article.printing_process }}</dl>
          {% endif %}

          {% if article.has('format') %}
            <dt>Dimensions</dt>
            <dl>{{ article.format }} format</dl>
          {% endif %}

          {% if article.has('pages') %}
            <dt>Pagination</dt>
            <dl>{{ article.pages }} pages</dl>
          {% endif %}

          {% if article.has('weight') %}
            <dt>Poids</dt>
            <dl>{{ article.weight }} g</dl>
          {% endif %}
        </dl>
      </div>
    </div>
  </article>

  {% if app.currentUser.isAdmin %}
    <div class="admin">
      <p>Article n° {{ article.id }}</p>
      <p><a href="/pages/article_edit?id={{ article.id }}">modifier</a></p>
      <p><a href="/pages/adm_stocks?article_id={{ article.id }}">stock</a></p>
      <p><a href="/pages/adm_stock?add={{ article.id }}">ajouter</a></p>
    </div>
  {% endif %}
{% endblock %}
