<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% set titleBlock = block("title") %}
      {% if titleBlock is not empty %}
        {% block title %}{% endblock %} |
      {% endif %}
      {{ app.currentSite.site.title }}
    </title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    {# biblys assets #}
    {% include "layout:_assets_css.html.twig" %}

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/theme/favicon.png" />

    <link rel="alternate" type="application/rss+xml" title="Les derniers billets du blog" href="{{ path('feed_blog') }}" />
    <link rel="alternate" type="application/rss+xml" title="Les dernières parutions du catalogue" href="{{ path('feed_catalog') }}" />

    {% include "layout:_analytics.html.twig" %}
  </head>
  <body>
    {% include "layout:_overall_menu.html.twig" %}

    <header class="site-header">
      <div class="header-bar">
        <form action="/articles/search" class="search-engine">
          <input
            type="text"
            name="q"
            placeholder="Rechercher"
            aria-label="Rechercher un article"
            class="search-engine-input"
            required="required"
          />
          <button aria-label="Rechercher" type="submit" class="search-engine-button">
            OK
          </button>
        </form>

        <div class="cart-button">
          {{ cart_status()|raw }}
        </div>

        <div class="social-networks">
          <a class="social-button" href="{{ path('feed_index') }}" aria-label="Flux RSS">
            <i class="icon fa-solid fa-rss-square"></i>
          </a>

          <a class="social-button" href="/mailing/subscribe" aria-label="Inscription à la newsletter">
            <i class="icon fa-solid fa-square-envelope"></i>
          </a>

          <a class="social-button" href="https://www.linkedin.com/company/le-baiser-du-frelon" target="_blank" aria-label="Linked In">
            <i class="icon fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>

      <a href="/">
        <img src="/theme/header.jpg?1"
          alt="Logo de la maison d'édition Le Baiser du Frelon avec le slogan 'Des mots qui piquent, des idées qui libèrent'"
          class="site-header-logo"
          width="1000"
          height="250"
        />
        <h1 class="site-title">{{ app.currentSite.site.title }}</h1>
      </a>
      <nav class="navbar navbar-expand-lg site-navigation">
        <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
          Menu
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item navigation-separator">•</li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Catalogue
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/collection/le-baiser-du-frelon-langue">Langue</a>
                <a class="dropdown-item" href="/collection/le-baiser-du-frelon-mieux-etre">Mieux-être</a>
              </div>
            </li>
            <li class="nav-item navigation-separator">•</li>
            <li class="nav-item">
              <a class="nav-link" href="/page/Citations">Citations</a>
            </li>
            <li class="nav-item navigation-separator">•</li>
            <li class="nav-item">
              <a class="nav-link" href="/page/la-maison">La Maison</a>
            </li>
            <li class="nav-item navigation-separator">•</li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="site-main">
      {% include "layout:_flash_messages.html.twig" %}
      {% block main %}{% endblock %}
    </main>

    <footer class="site-footer">
      <div class="footer-blocks">
        <div class="footer-block partners-logo">
          <a
            href="https://www.daudin-distribution.fr/article-39466-le-baiser-du-frelon.aspx"
            target="_blank"
          >
            <img
              src="/theme/logo-dod.webp"
              alt="Logo DOD & Cie Diffusion Distribution"
              height="120"
              width="308"
              class="partner-logo"
            >
          </a>

          <a href="https://www.sepec.com" target="_blank">
            <img
              src="/theme/logo-sepec.png"
              alt="Logo SEPEC"
              height="120"
              width="308"
              class="partner-logo"
            >
          </a>
        </div>

        <div class="footer-block footer-newsletter">
          <p>
            <i class="fa-solid fa-envelope"></i>
            <strong>Recevez notre newsletter</strong>
          </p>
          <form class="center" method="post" action="/mailing/subscribe">
            <fieldset class="footer-newsletter-form">
              <input type="email" name="email" placeholder="Entrez votre e-mail" class="form-control">
              <input class="btn btn-info btn-sm btn-block" type="submit" value="S'inscrire">
            </fieldset>
          </form>
        </div>

        <div class="footer-block publisher-infos">
          <img
            src="/theme/logo.jpg"
            alt="Logo Le Baiser du frelon"
            class="publisher-logo"
            height="581"
            width="464"
          >
          <p>
            7, rue du Progrès<br />
            93100 Montreuil<br />
            <a href="/contact/">contact@lebaiserdufrelon.fr</a>
          </p>
        </div>
      </div>

      <div class="footer-links">
        <ul>
          <li><a href="/page/mentions-legales">Mentions légales</a></li>
          <li><a href="/page/conditions-generales-de-vente">Conditions générales de vente</a></li>
        </ul>
      </div>

      <p class="powered-by">
        propulsé par <a href="https://biblys.org">biblys</a> · logiciel libre
      </p>
    </footer>

    {% include "layout:_assets_js.html.twig" %}
  </body>
</html>

