{% extends "layout:base.html.twig" %}

{% block main %}
  {#
  CAROUSEL
  Pour changer le contenu du carousel,
  modifier le code ci-dessous
  #}

  <div class="biblys-carousel swiper-container" data-autoplay-delay="4000">
    <div class="swiper-wrapper">
        
          {# Bannière 0 #}

      <div class="swiper-slide">
        <a href="/a/cecile-blow/boostez-votre-vitalite">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/carousel/03-l2-visuel-1920x559.jpg"
            alt="Boostez votre vitalité.Guide pratique pour faire face aux ruptures, divorce, burn-out… de Cecile Blow"
            width="1024"
            height="300"
          />
        </a>
      </div>
      
       {# Bannière 1 #}

      <div class="swiper-slide">
        <a href="/a/cecile-blow/boostez-votre-vitalite">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/carousel/04-l2-book-notebook.jpg"
            alt="mon Bloc-note offert pour l'achat de Boostez votre vitalité de CecileBlow"
            width="1024"
            height="300"
          />
        </a>
      </div>
      
       {# Bannière 2 #}

      <div class="swiper-slide">
        <a href="https://assistanteplus.fr/cecile-blow-et-lart-de-la-vitalite-un-nouveau-regard-sur-la-sante/"
             target="_blank">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/carousel/02-l2-visuel-1920x559.jpg"
            alt="cecile blow et l'art de la vitalité : un nouveau regard sur la santé"
            width="1024"
            height="300"
          />
        </a>
      </div>

      {# Bannière 3 #}

      <div class="swiper-slide">
        <a href="/a/oderic-delefosse/raconter-rediger-lire-a-tout-age">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/carousel/banniere04.jpg"
            alt="Toutes les langues sont porteuses de richesse humaine, de poésie, de connaissances, d'expérience et de valeurs de civilisation, chacune apportant sa note originale
dans l'intelligence du monde et de la vie. Extrait du livre Raconter, rédiger, lire à tout âge d'Odéric Delefosse"
            width="1024"
            height="300"
          />
        </a>
      </div>
      
      {# Bannière 4 #}

      <div class="swiper-slide">
        <a
          href="https://assistanteplus.fr/le-baiser-du-frelon-pour-changer-notre-regard-sur-le-monde/"
          target="_blank"
        >
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/carousel/banniere-assistante-plus.jpg"
            alt="Le Baiser du frelon : pour changer notre regard sur le monde, à lire sur assistante[e]plus"
            width="1024"
            height="300"
          />
        </a>
      </div>

      {# Bannière 5 #}

      <div class="swiper-slide">
        <a
          href="https://www.asforel.fr/2023/05/25/prix-academique-de-linnovation-2023"
          target="_blank"
        >
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/carousel/banniere-prix-academique-innovation.jpg"
            alt="Prix academique de l'innovation 2023 décerné à Florence Gauthier, professeur des écoles, pour le projet "La dictée à l'adulte"
            width="1024"
            height="300"
          />
        </a>
      </div>

    </div>

    <div class="swiper-pagination"></div>
  </div>

  <section class="home-page-articles">
    {% for article in articles %}
      <div class="home-page-article">
        {% if article.model|hasImage %}
          <a
            href="{{ path('article_show', {slug: article.url}) }}"
            class="home-page-article__cover"
          >
            <img
              src="{{ article.model|imageUrl }}"
              alt="{{ article.title }}"
              class="home-page-article__cover-image"
            />
          </a>
        {% endif %}
        <div class="home-page-article__infos">
          {% if article.model.cycle %}
            <p class="home-page-article__cycle">
              <a href="{{ path('cycle_show', {slug: article.model.cycle.url}) }}">
                {{ article.model.cycle.name }}
              </a>
              {% if article.has('tome') %}
                · tome {{ article.tome }}
              {% endif %}
            </p>
          {% endif %}
          <h1 class="home-page-article__title">
            <a href="{{ path('article_show', {slug: article.url}) }}">
              {{ article.title }}
            </a>
          </h1>
          <p class="home-page-article__authors">
            {{ article.authors|authors }}
          </p>
          {% if article.has('catchline') %}
            <div class="home-page-article__catchline">
              {{ article.catchline|raw }}
            </div>
          {% endif %}

          {% if article.has('bonus') %}
            <div class="home-page-article__bonus">
              {{ article.bonus|raw }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
