{% extends "layout:base.html.twig" %}

{% block main %}
  {#
  CAROUSEL
  Pour changer le contenu du carousel,
  modifier le code ci-dessous
  #}

  <div class="biblys-carousel swiper-container" data-autoplay-delay="4000">
    <div class="swiper-wrapper">

      {# Bannière 1 #}

      <div class="swiper-slide">
        <a
          href="https://lebaiserdufrelon.fr/a/oderic-delefosse/raconter-rediger-lire-a-tout-age-acquisition-de-la-langue-tome-1">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/caroussel/baniere-raconter.png"
            alt="Raconter, rédiger, lire à tout âge - en librairie le 17 mai"
          />
        </a>
      </div>

      {# Bannière 2 #}

      <div class="swiper-slide">
        <a
          href="https://lebaiserdufrelon.fr/a/oderic-delefosse/raconter-rediger-lire-a-tout-age-acquisition-de-la-langue-tome-1">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/caroussel/baniere-raconter.png"
            alt="Raconter, rédiger, lire à tout âge - en librairie le 17 mai"
          />
        </a>
      </div>

      {# Bannière 3 #}

      <div class="swiper-slide">
        <a
          href="https://lebaiserdufrelon.fr/a/oderic-delefosse/raconter-rediger-lire-a-tout-age-acquisition-de-la-langue-tome-1">
          <img
            class="carousel-image"
            src="https://lebaiserdufrelon.fr/media/caroussel/baniere-raconter.png"
            alt="Raconter, rédiger, lire à tout âge - en librairie le 17 mai"
          />
        </a>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

  <section class="home-page-articles">
    {% for article in articles %}
      <div class="home-page-article">
        {% if article.hasCover %}
          <a
            href="{{ path('article_show', {slug: article.url}) }}"
            class="home-page-article__cover"
          >
            <img
              src="{{ article.coverUrl }}"
              alt="{{ article.title }}"
              class="home-page-article__cover-image"
            />
          </a>
        {% endif %}
        <div class="home-page-article__infos">
          <p class="home-page-article__authors">
            {{ article.authors|authors }}
          </p>
          <h1 class="home-page-article__title">
            <a href="{{ path('article_show', {slug: article.url}) }}">
              {{ article.title }}
            </a>
          </h1>
          {% if article.has('catchline') %}
            <div class="home-page-article__catchline">
              {{ article.catchline|raw }}
            </div>
          {% endif %}
          <div class="home-page-article__review">
            {% for posts in article.posts %}
              {{ posts.content|raw }}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
